 {% load static %}

<link rel="icon" href="https://ansistemas.com/images/cropped-Favicon-672-32x32.png" sizes="32x32" />
<link rel="icon" href="https://ansistemas.com/images/cropped-Favicon-672-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://ansistemas.com/images/cropped-Favicon-672-180x180.png" />

<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="https://ansistemas.com/mytubelibrary">
<meta property="og:title" content="My Tube Library">
<meta property="og:site_name" content="AN Sistemas">
<meta property="og:description" content="Organize a sua biblioteca de canais e playlists. Sistema Django. AN Sistemas, Desenvolvimento de Sistemas Web e Criação de Sites, Canaã dos Carajás, Brasil, USA">
<meta property="og:image" content="https://ansistemas.com/images/my-tube-library.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://ansistemas.com/images/my-tube-library.jpg">
<meta name="twitter:title" content="My Tube Library">
<meta name="twitter:description" content="Organize a sua biblioteca de canais e playlists. Sistema Django. AN Sistemas, Desenvolvimento de Sistemas Web e Criação de Sites, Canaã dos Carajás, Brasil, USA">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="António Neves">
<meta name="creator" content="AN Sistemas">

<meta name="robots" content="index, follow">
<meta name="description" content="Organize a sua biblioteca de canais e playlists. Sistema Django. AN Sistemas, Desenvolvimento de Sistemas Web e Criação de Sites, Canaã dos Carajás, Brasil, USA" />
<meta name="keywords" content="mytubelibrary, ansistemas, sites, site, django, python, web, sistemasweb, sistemas, canaa, carajas" />
<link rel="canonical" href="https://ansistemas.com/mytubelibrary/" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap-grid.min.css' %}"/>
<link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap-reboot.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'base/js/skel.min.js' %}"></script>
<script src="{% static 'base/js/skel-panels.min.js' %}"></script>
<script src="{% static 'base/js/init.js' %}"></script>

<noscript>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/style-desktop.css' %}" />
</noscript>

